enable
configure terminal

hostname PE1
!
# vrf
ip vrf vpnA
rd 100:0
route-target import 100:1
route-target export 100:2
!
# interfacce loopback
interface Loopback0
ip address 1.255.0.1 255.255.255.255
!
# interfacce rete
interface GigabitEthernet1/0
mpls ip
ip address 192.168.14.2 255.255.255.252
no shutdown
!
interface GigabitEthernet2/0
ip address 100.0.12.2 255.255.255.252
no shutdown
!
interface GigabitEthernet3/0
ip vrf forwarding vpnA
ip address 100.1.14.2 255.255.255.252
no shutdown
!
# ospf
router ospf 1
router-id 1.255.0.1
network 1.255.0.1 0.0.0.0 area 0
network 192.168.14.0 0.0.0.3 area 0
mpls ldp autoconfig
!
#bgp
router bgp 100
network 1.0.0.0
neighbor 1.255.0.2 remote-as 100
neighbor 1.255.0.2 update-source Loopback0
neighbor 1.255.0.2 next-hop-self
neighbor 1.255.0.3 remote-as 100
neighbor 1.255.0.3 update-source Loopback0
neighbor 1.255.0.3 next-hop-self
neighbor 100.0.12.1 remote-as 200
address-family vpnv4
neighbor 1.255.0.2 activate
neighbor 1.255.0.2 send-community ext
neighbor 1.255.0.2 next-hop-self
neighbor 1.255.0.3 activate
neighbor 1.255.0.3 send-community extended
neighbor 1.255.0.3 next-hop-self
exit-address-family
!
address-family ipv4 vrf vpnA
network 10.23.1.0 mask 255.255.255.0
exit-address-family
!
ip route vrf vpnA 10.23.1.0 255.255.255.0 100.1.14.1
ip route vrf vpnA 10.0.0.0 255.0.0.0 1.255.0.3
ip route 1.0.0.0 255.0.0.0 Null0
!
end
# save
copy running-config startup-config